.root{
-fx-background-color:#B2DDFF;
}

#titleLabel{
-fx-font-size: 28;
-fx-font-family: "Lucida Console";
-fx-text-fill: "black";
-fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;

}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #75C2FF, #B2DDFF);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;

}

.table-view .column-header {
    -fx-background-color: transparent;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: white;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-view{
-fx-background-color: transparent;
}



.list-view .list-cell:even {
-fx-background-color: #1dbbdd11;
-fx-text-fill: black;
}


.list-view .list-cell:odd {
-fx-background-color: #93f9b911;
-fx-text-fill: black;
}


.list-view .list-cell:hover {
     -fx-text-fill: white;
    }

    .list-view .list-cell:selected {

        -fx-text-fill: white;

}

.text-field{

-fx-background-color:transparent;
-fx-border-color:grey;
-fx-border-radius:20px;
-fx-prompt-text-fill: black;

}

.button{

-fx-background-color:transparent;
-fx-border-color:grey;
-fx-border-radius: 20px;
}



.myDialog{
    -fx-background-color: lightblue;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: transparent;

}


.myDialog > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: lightblue;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}






.combo-box .list-cell
{
    -fx-background: lightblue;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: lightblue, lightblue;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: lightblue;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: lightblue;
    -fx-background-color: lightblue;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: lightblue;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-background-color: lightblue, lightblue, lightblue, lightblue;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: lightblue;
}

.combo-box-base:showing
{
    -fx-color: lightblue;
}

.combo-box-base:focused {
    -fx-background-color: lightblue, lightblue, lightblue, lightblue;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}



